.input_box {
  position: relative;
  margin: 0.5rem 0;
  color: #888;
}

.input_label {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  user-select: none;
  pointer-events: none;
  background-color: none;
  padding: 0 0.2rem;
  transition: all 0.15s, background-color linear .15s;
  border-radius: 0.3rem;
}
input.input_field {
  border: 1px solid #888;
  transition: border 0.3s;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem;
  color: #333;
}
.input_box input:focus ~ label,
.input_box input:valid ~ label {
  background-color: #fff;
  top: 0;
  font-size: 0.8rem;
}
input.input_field.input_err {
  transition: background-color linear 0.15s;
  border: 1px solid #f52222;
  background-color: #ffcecd;
}

input.input_err:focus {
  background-color: #fff;
}
