.modal__backdrop {
  min-width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  animation: fade-in 0.3s forwards;
  overflow: hidden;
}
.modal__backdrop[closing] {
  opacity: 1;
  animation: fade-out 0.5s forwards;
}
.modal__window {
  width: max(250px, 40%);
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 2px black;
}
.modal__content {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal__title {
  text-align: center;
  align-self: center;
  font-size: 1.6em;
}
.modal__title__result {
  font-weight: 400;
  margin: 0.3rem 0;
}
.modal__callout {
  background: white;
  margin: 0.3rem;
  margin-left: 0.7rem;
  padding: 0.4rem 0.6rem;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 0.5rem;
}
.modal__close {
  display: block;
  align-self: center;
  margin: 0.7rem 0 0;
  padding: 0 0.7rem;
}
.modal__result {
  flex-grow: 1;
}
.modal__backdrop ul > li {
  list-style: none;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.info__paragraph{

}
.info__result-summary{
  display: block;
  margin: 0.6rem 0 0.3rem;
  text-align: center;
  color: #1c1c1c;
  font-size: 1.1rem;
}